.cardItem {
	position: relative;
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease-in-out;
	align-items: center;
	gap: 1rem;
	background-color: white;
	border-radius: 0.5rem;
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
	overflow: hidden;
	margin: 1rem;
}

.cardImage {
	border-radius: 0.5rem 0.5rem 0 0;
	object-fit: cover;
	width: 100%;
	height: 300%;
}

.cardInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 1rem 1rem;
	width: 100%;

	h1 {
		font-size: 1.25rem;
		font-weight: bold;
		margin: 0;
	}

	p {
		font-size: 1rem;
		font-weight: 300;
		margin: 0.5rem 0 0;
	}
}

.cardLike {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background: rgba(255, 255, 255, 0.8);
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	box-shadow: 3px -2px 30px rgb(0, 0, 0, 0.1);
	cursor: pointer;

	span {
		font-size: 0.875rem;
		font-weight: bold;
	}
}

.cardIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-in-out;
	background-color: white;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: -1px 1px 30px rgba(0, 0, 0, 0.1);
	opacity: 0.8;
	padding: 0.25rem;

	&:hover {
		opacity: 1;
	}
}
