.mainContainer {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 15px; // чтобы добавить немного отступов по краям

	@media (min-width: 1024px) {
		padding: 0; // убрать отступы при ширине экрана 1024px и больше
	}
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 15px; // Расстояние между карточками
	justify-content: center; // Центрирует карточки, если их меньше, чем может поместиться в строке
}
